:root {
    --black: #1E212D;
    --darkbrown: #B68973;
    --lightbrown:#EABF9F;
    --whitebrown:#FAF3E0;
    --white:#f6f4ef;
}

*{
    margin: 0;
    padding: 0;
}

main{
    background-color: var(--white);
}